{% extends 'base.html.twig' %}

{% block title %}Activite index{% endblock %}

{% block body %}
    {% for message in app.session.getFlashBag.get('create_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.getFlashBag.get('delete_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.session.getFlashBag.get('modify_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="text-center m-2">Activite index</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody >
        {% for activite in activites %}
            <tr>
                <td>{{ activite.id }}</td>
                <td>{{ activite.nom }}</td>
                <td class="w-75">{{ activite.description | raw }}</td>
                <td>
                    <a href="{{ path('activite_show', {'id': activite.id}) }}">show</a>
                    {% if userConnectedIsAnimateur %}
                    <a href="{{ path('activite_edit', {'id': activite.id}) }}">edit</a>

                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if userConnectedIsAnimateur%}
    <a href="{{ path('activite_new') }}">Create new</a>
    {% endif %}
{% endblock %}
